.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #CCDAD1;
}

.name{  
  font-size: 35px;
  padding-bottom: 2%;
}

.whoIsX{
  font-size: 30px;
}

.game{
  display: flex;
  justify-content: center;
  align-items:center;
  padding-top: 3%;
}

.player{
  background-color: #6F6866;
  align-self: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 4px;
  padding: 2%;
}

.board{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: #9CAEA9;  
  text-align: center;
  border: solid;
}

.board.win{
  background-color: #788585;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
  font-size: 20px;
}

.row{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
  height: 33.2%;
  border-bottom: solid black;
}

.row:last-child{
  border-bottom: none;
}

.cell{
display: flex;
justify-content: center;
align-items: center;
font-size: 150px;
height: 100%;
width: 100%;
cursor: pointer;
border-left: solid;

}

.cell:first-child{
  border-left: none;
}


.cell:hover{  
  background-color: #788585;
}

.cell:active{  
  background-color: #676e6e; 
}

.startAgain{
background-color: #6F6866;
border-radius: 6px;
cursor: pointer;
margin-top: 5%;
}

.line{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.again{
 background-color: #6F6866;
 cursor: pointer;
 width: 120px;
 margin-top: 2%;
 padding: 10px;
 border-radius: 4px;
}
